.controllers {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1;
    padding: 0.5rem;
    border-radius: 0.3rem;
    letter-spacing: 3px;
    color: black;

    background-color: rgba(255, 255, 255, 0.8);

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.radio_button {
    border: 1px solid #d9d9d9;
    border-block-start-width: 1.02px;
    border-inline-start-width: 0;
    border-inline-end-width: 1px;
    cursor: default;
    border-radius: 0;
}

/* Override antd button */
.radio_button:not(:disabled):hover {
    border-color: #d9d9d9;
}