.map_panel {
    position: absolute;
    top: 20%;
    right: 3%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.deleteInfo {
    margin: 0;
    margin-left: 0.5rem;
    opacity: 0.5;
}

.alert {
    color: brown;
    font-weight: bold;
}