.map {
  height: 100vh;
  /* max-width: 825px; */
  width: 100%;
  position: relative;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  z-index: 999;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  border: none;
  background-color: transparent;
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
}

.ol-popup-closer:after {
  content: "✖";
}

#feature-name {
  font-weight: bold;
}

#feature-title {
  font-style: italic;
}

.fireButton {
  float: right;
}

.office-name {
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 1;
  padding: 0.5rem;
  border-radius: 0.3rem;
  letter-spacing: 3px;
  color: black;

  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
}

.office-name span {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: normal;
}

h1 {
  margin: 0;
  padding: 0;
}

.map-panel {
  position: absolute;
  top: 20%;
  right: 5%;
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}